UCAS_ICLASS_ACCOUNT=202528014629003
UCAS_ICLASS_PASSWORD=Ucas@2025
UCAS_ICLASS_BASE_URL=https://iclass.ucas.edu.cn:8181
# UCAS_ICLASS_SESSION_PATH=F:\\WorkSpace\\Rust\\ucas-iclass-chechin\\.session.json
# RUST_LOG=info
